@import url("https://use.typekit.net/vwf7pyn.css");

@font-face {
    font-family: eddie;
    src: url("edwardian.ttf");
}

@import "tailwindcss";


@theme {
    --color-primary-dark: #7b7b52;
    --color-primary-light: #a7a573;
    --color-secondary-dark: #5d202c;
    --color-secondary-light: #ad857e;
    --color-accent: #e8ddcc;
    --font-eddie: "eddie";
    --font-minion: "minion-pro";
}

@layer base {
    h1 {
        @apply text-5xl leading-[0.8] font-minion;
    }

    @media (min-width: 768px) {
        h1 {
            @apply text-8xl leading-[0.8] font-minion;
        }
    }

    h2 {
        @apply text-5xl leading-[0.8] font-eddie;
    }

    @media (min-width: 768px) {
        h2 {
            @apply text-7xl leading-[0.8] font-eddie;
        }
    }

    h3 {
        @apply text-2xl leading-[0.8] font-minion;
    }

    @media (min-width: 768px) {
        h3 {
            @apply text-4xl leading-[0.8] font-minion;
        }
    }

    h4 {
        @apply text-3xl font-minion font-bold italic;
    }

    h5 {
        @apply text-4xl font-minion font-bold italic;
    }

    @media (min-width: 768px) {
        h5 {
            @apply text-6xl font-bold italic;
        }
    }

    h6 {
        @apply text-2xl font-minion font-bold italic;
    }

    @media (min-width: 768px) {
        h6 {
            @apply text-4xl font-minion font-bold italic;
        }
    }

    p {
        @apply text-lg font-minion font-bold italic;
    }

    @media (min-width: 768px) {
        p {
            @apply text-2xl font-minion font-bold italic;
        }
    }
}