<footer class="bg-primary-light w-full p-8 flex justify-between items-start">
  <div class="text-white">
    <h3 class="text-6xl mb-2"><%= wedding_days_left %> <span class="font-eddie">Days To Go</span></h3>
    <h3>RSVP Opens</h3>
    <h3>in May</h3>
  </div>
  <div class="text-right text-primary-dark">
    <p>Venue Address</p>
    <p>Strada Sicelle Loc. Le Filligare, 35</p>
    <p>50028 San Donato in Poggio</p>
    <p>Barberino Tavarnelle (Fi)</p>
    <p>Italy</p>
    <br>
    <p class="text-secondary-dark">Illustrations & Design by the Bride,</p>
    <p class="text-secondary-dark">Web Development by the Groom</p>
  </div>
</footer>
