<div class="bg-primary-light w-full min-h-screen text-primary-dark">
    <%= render "shared/navbar" %>
    <div class="flex flex-col justify-center items-start px-24 py-12">
        <div>
            <h2 class="font-minion">The Venue</h2>
            <h1 class="font-bold">LE FILIGARE</h1>
            <h5 class="text-white ml-24" style="font-style: normal">Wine & Country Relais</h5>
        </div>
        <div class="flex justify-betweeen items-center gap-12">
            <div class="space-y-10">
                <h6 style="font-style: normal">is a family-owned organic winery with origins dating back to the Etruscan era, owned by the Cassetti Burchi family since the 1970s.</h6>
                <h6 style="font-style: normal">Located in the heart of the Chianti Classico region between Florence and Siena, the working winery and countryside estate spans 60 hectares of vineyards, olive groves, gardens, and woodland.</h6>
            </div>
            <%= image_tag "venue.jpg.webp" %>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center px-24 py-12">
        <h2 class="font-minion font-semibold">Getting there</h2>
        <div class="flex justify-between items-center mt-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2893.019395661612!2d11.261524676494536!3d43.522788260855336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132a35fd2df0eecf%3A0x910b8af0857ed8ff!2sLe%20Filigare%20Wine%20%26%20Country%20Relais!5e0!3m2!1sen!2suk!4v1767186695624!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="w-1/2 space-y-4">
                <h6 style="font-style: normal">Le Filigare is located approximately:</h6>
                <ul class="font-minion font-bold text-4xl list-disc ml-16">
                    <li>40 minutes by car from Florence Amerigo Vespucci Airport (FLR)</li>
                    <li>1 hour 20 minutes by car from Pisa Galileo Galilei Airport (PSA)</li>
                </ul>
                <h6 style="font-style: normal">Florence is easily accessible from Rome by train:</h6>
                <ul class="font-minion font-bold text-4xl list-disc ml-16">
                    <li>Florence ↔ Rome: ~1 hour 30 minutes via high-speed train</li>
                </ul>
                <h6 style="font-style: normal">A hired car or pre-arranged transfer is recommended, particularly for guests staying offsite or planning to explore the region. (more details on FAQ page) </h6>
                <h6 style="font-style: normal">Flight Tips: Here are some general guidelines for booking flights for Italy</h6>
                <h6 style="font-style: normal">For guests travelling from…</h6>
                <h6 style="font-style: normal">The UK & Europe: Best fares are typically found 3–5 months in advance (May–July).</h6>
                <h6 style="font-style: normal">The USA: It's recommended to book 5–7 months in advance (March–May) for the best availability and pricing.</h6>
                <h6 style="font-style: normal">Australia & Asia:Long-haul routes tend to benefit from booking 6–8 months in advance (February–April).</h6>
                <h6 style="font-style: normal">From Russia: XXXX</h6>
            </div>
        </div>
    </div>
    <div class="flex justify-between items-center px-24 py-12">
        <div class="text-center w-1/2 space-y-10 mt-12">
            <h2 class="font-minion font-semibold">Accomodation</h2>
            <h6 style="font-style: normal">If You’re Staying Onsite</h6>
            <h6 style="font-style: normal">Le Filigare features 14 apartments spread across its two small villages. To maximize the number of guests we’re able to host onsite, apartments will be allocated by us, and room sharing will be required in many cases.</h6>
            <h6 style="font-style: normal">We’ll do our best to ensure everyone is comfortable and thoughtfully paired. If you have any specific needs or concerns, please don’t hesitate to reach out to us directly. You can find more information about onsite accommodation here: https://lefiligare.com/en/hospitality/</h6>
            <h6 style="font-style: normal">All wedding events will take place on the estate. Additional details to be shared closer to the wedding date. </h6>
            <h6 style="font-style: normal">If You’re Staying Elsewhere</h6>
            <h6 style="font-style: normal">As much as we’d love to host everyone onsite, unfortunately it’s not possible to accommodate all guests at the venue. However, there are several wonderful options nearby, ranging from boutique hotels to agriturismi that we recommend:</h6>
            <h6 style="font-style: normal">Recommendations nearby in Tuscany:</h6>
            <ul class="font-minion font-bold text-4xl list-disc ml-16">
                <li>Podere 1384 – Agriturismo / Resort ~10 minutes’ drive from the venue https://podere1384.it</li>
                <li>Locanda di Pietracupa -  B&B ~10 minutes’ drive from the venue https://www.locandapietracupa.it/</li>
                <li>Borgo Pietrafitta Relais – Resort Hotel & Apartments ~20 minutes’ drive from the venue https://www.borgopietrafitta.com/it/</li>
                <li>Hotel Le Fontanelle – Luxury countryside hotel ~25 minutes’ drive https://www.fontanellestate.com/en/hotel-le-fontanelle-en?gad_source=1&gad_campaignid=21502167299&gbraid=0AAAAACRSzPDWnGlEzwhair8Y1CCV--IId&gclid=Cj0KCQiA6sjKBhCSARIsAJvYcpMOQSZSjwrpsuQXXQHAGLvCv8y8GrDi1nMg8SnuEa5gBxPotTdSxMMaAhFWEALw_wcB</li>
            </ul>
            <h6 style="font-style: normal">Recommendations in Siena:</h6>
            <ul class="font-minion font-bold text-4xl list-disc ml-16">
                <li>Hotel Italia Siena ~45-50 minutes’ drive from the venue</li>
                <li>Villa Scacciapensieri - Boutique Hotel ~45-50 minutes’ drive from the venue</li>
            </ul>
            <h6 style="font-style: normal">Transport options for the wedding day (October 17th) will be shared closer to the date. We recommend booking accommodation early, as October is still a popular travel season in Tuscany.</h6>
        </div>
        <%= image_tag "venue.png", class: "w-1/2" %>
    </div>
</div>